<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>Label Llama</title>
<style>
{% include 'ocr_compare_report.css' -%}
</style>
</head>
<body>
<h1>Label Llama <span>{{ now | safe }}</span></h1>
<header>
    <div><label>Predictions</label><span>{{ jsonl_file | safe }}</span></div>
</header>

{% for result in ocr_results %}
<section>
<div>
    <div class="header">
        <div><label>Image Path</label><span>{{ result.image_path | safe }}</span></div>
    </div>
    <div class="image">
        <img height="2048" src="data:image/jpeg;base64,{{ result.image_base64 | safe }}"/>
    </div>
    <table>
        <thead>
        <tr>
            {% for head in headers %}
            <th>{{ head | safe }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for text in result.ocr_results %}
            <td>{{ text | safe }}</td>
        {% endfor %}
        </tr>
        </tbody>
    </table>
</div>
</section>
{% endfor %}

</body>
</html>
