<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>LabelLlama</title>
        <style>
            {% include 'compare_output.css' -%}
        </style>
    </head>
    <body>
        <h1>Compare LLM results against a gold standard: {{ now }}</h1>
        {% if notes %}
        <h3>{{ notes | safe }}</h3>
        {% endif %}

        <table>
            <thead>
                <tr>
                    {% for column in columns %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr class="gold">
                    <td rowspan="{{row_span}}">
                        <span class="text">{{ group.first_columns.text }}</span>
                    </td>
                    <td rowspan="{{row_span}}">
                        <span>{{ group.first_columns.source | safe }}</span>
                    </td>
                    <td rowspan="{{row_span}}">
                        <span>{{ group.first_columns.row_group }}</span>
                    </td>
                    <td><span class="type">{{ group.gold_row.row_type }}</span></td>
                    {% for field in fields %}
                    <td>{{ group.gold_row[field] | safe }}</td>
                    {% endfor %}
                </tr>

                {% for parse_row in group.parse_rows %}
                <tr class="clean">
                    <td><span class="type">{{ parse_row.row_type }}</span></td>
                    {% for field in fields %}
                    <td>{{ parse_row[field] | safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %} {% for score_row in group.score_rows %}
                <tr class="score">
                    <td><span class="type">{{ score_row.row_type }}</span></td>
                    {% for field in fields %}
                    <td>{{ score_row[field] | safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %} {% endfor %}
            </tbody>
        </table>
    </body>
</html>
