<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>LabelLlama</title>
        <style>
            {% include 'compare_output.css' -%}
        </style>
    </head>
    <body>
        <h1>Compare LLM results against GBIF data: {{ now }}</h1>
        {% if notes %}
        <h3>{{ notes | safe }}</h3>
        {% endif %}

        <p>
            The problem with using GBIF data is that many columns from GBIF do not align
            with the columns in the LLM output data. For instance a UTM may be burried
            in the "locality" field in GBIF but it may be broken into utm (the verbatim
            part), utmNorthing, utmEasing, and utmZone in the LLM output. To handle this
            I will scan GBIF data for fields that match the little LLM fields and score
            those. So "UTM 17 495432E, 2926666N" in GBIF's locality field will match
            against all utm = "UTM 17 495432E, 2926666N", utmNorthing = "2926666",
            utmEasting = "495432", and utmZone = "17". All with a perfect 1.0 score.
        </p>
        <p>
            However it is not always useful to search all GBIF cells for data gotten via
            the LLMs. For instance, I don't want to look for a TRS value in GBIF's
            reproductiveCondition field. Additionally, if the fields do align I only
            look in the aligned field for a matching value so if GBIF's habitat field is
            empty and the LLM found a habitat that will be a cell score of 0.0. I note
            where I get the missing data from in the GBIF cell and in the scoring cells.
        </p>
        <p>
            Scoring abbreviations: All scores go from 0.0 = not match, to 1.0 = perfect
            match.
        </p>
        <ul>
            <li>
                LR = Levenshtein Ratio: The classic edit distance algorithm presented as
                a ratio of the string lengths vs. the traditional count of edits.
            </li>
            <li>
                FPR = Fuzzy Partial Ratio: The best indel distance of the shorter string
                against the longer one.
            </li>
            <li>
                CUST = Custom scoring. Typically used when abbreviations etc. are
                acceptable.
            </li>
            <li>NONE = There was no data so we didn't score the field.</li>
        </ul>

        <p>
            When there is no matching field in GBIF I scan the fields in the following
            order.
        </p>
        <table class="search">
            <thead>
                <tr>
                    <th>LLM field</th>
                    <th>GBIF search</th>
                </tr>
            </thead>
            <tbody>
                {% for llm, search in gbif_search.items() %}
                <tr>
                    <td>{{ llm | safe }}</td>
                    <td>{{ ", ".join(search) | safe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>These are the totals.</p>
        <table class="stats">
            <thead>
                <tr>
                    <th>LLM Extract</th>
                    <th>Field</th>
                    <th>GBIF has a value count</th>
                    <th>GBIF has a value average</th>
                    <th>LLM is empty</th>
                    <th>not in GBIF and search failed</th>
                    <th>not in GBIF and search worked count</th>
                    <th>not in GBIF and search worked average</th>
                </tr>
            </thead>
            <tbody>
                {% for stem, fields in stats.items() %} {% for field, stat in
                fields.items() %}
                <tr>
                    <td>{{ stem | safe }}</td>
                    <td>{{ field | safe }}</td>
                    <td>{{ stat["gbif_has_value_count"] | safe }}</td>
                    <td>{{ stat["gbif_has_value_average"] | safe }}</td>
                    <td>{{ stat["field_empty_count"] | safe }}</td>
                    <td>{{ stat["search_fail_count"] | safe }}</td>
                    <td>{{ stat["search_success_count"] | safe }}</td>
                    <td>{{ stat["search_success_average"] | safe }}</td>
                </tr>
                {% endfor %} {% endfor %}
            </tbody>
        </table>

        <table class="extracts">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th>{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for group in row_groups %}
                <tr class="gold">
                    <td rowspan="{{row_span}}">
                        <span class="text">{{ group.first_columns.text }}</span>
                    </td>
                    <td rowspan="{{row_span}}">
                        <a class="source" href="{{ group.first_columns.href | safe }}"
                            >{{ group.first_columns.image_path | safe }}</a
                        >
                    </td>
                    <td rowspan="{{row_span}}">
                        <span>{{ group.first_columns.row_num }}</span>
                    </td>
                    <td><span class="type">{{ group.gbif_row.row_type }}</span></td>
                    {% for column in columns %}
                    <td><span>{{ group.gbif_row[column] | safe }}</span></td>
                    {% endfor %}
                </tr>

                {% for llm_row in group.parse_rows %}
                <tr class="clean">
                    <td><span class="type">{{ llm_row.type }}</span></td>
                    {% for column in columns %}
                    <td><span>{{ llm_row[column] | safe }}</span></td>
                    {% endfor %}
                </tr>
                {% endfor %} {% for llm_row in group.score_rows %}
                <tr class="score">
                    <td><span class="type">{{ llm_row.type }}</span></td>
                    {% for column in columns %}
                    <td>{{ llm_row[column] | safe }}</td>
                    {% endfor %}
                </tr>
                {% endfor %} {% endfor %}
            </tbody>
        </table>
    </body>
</html>
