body {
  margin: 40px;
  line-height: 1.4;
  font-size: 20px;
}

h1 > span {
  float: right;
  margin-right: 12px;
}

header {
    margin-bottom: 4rem;
}

header label {
    display: inline-block;
    font-weight: bold;
    width: 12rem;
}

section {
    margin-top: 2rem;
    border-top: 1px solid gray;
}

section .text {
    margin-top: 1rem;
}

img {
    margin-top: 1rem;
}

.header label {
    display: inline-block;
    font-weight: bold;
    width: 10rem;
}
